{% extends 'base.html' %} {% block content %}
<h1>오늘 {{name}}의 저녁은 {{pick.name}}!</h1>
<h1>menu list</h1>
<ul>
    {% for menu in menus %}
    <li>{{ menu.name }} {{ menu.price }}</li>
    {% endfor %}
</ul>

{% if pick.price > 13000 %}
<p>expensive!</p>
{% elif pick.price > 10000 %}
<p>reasonable~</p>
{% else %}
<p>nice!</p>
{% endif %}

<h1>review list</h1>
{% for article in articles %}
<p>글 번호: {{ article.pk }}</p>
<p>글 제목: {{ article.title }}</p>
<p>글 내용: {{ article.content }}</p>
<hr />
{% endfor %} {% endblock %}